<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div>
        <h2>Job Portal</h2>
        <h5>You can search jobs and apply for jobs here.<br>If you're a recruiter, you can post jobs for your company.<br></h5>
    </div>
    <div class="login-container">
        <div class="login-card">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <div class="input-box">
                    <label for="email">Email/Contact Number</label>
                    <input type="text" id="email" name="email" placeholder="Enter Email">
                </div>
                <div class="input-box">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter Password">
                </div>
                <div class="remember-me">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember Me</label>
                </div>
                <button type="submit">Login</button>
                <p>Forgot Password? <a href="/login">Reset</a></p>
                <p>Don't have an account? <a href="/register">Register</a></p>
            </form>
        </div>
    </div>
</body>
</html>