<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Seeker's Dashboard</title>
</head>
<body>
    <h2>Job Seeker's Dashboard</h2>
    <p><a href="/job_seeker_profile">Build Profile</a></p>
    <p><a href="/job_card">Check Jobs</a></p>
    <p><a href="/check_application_status">Check Application Status</a></p>
    <p><a href="/upload_resume">Upload Resume</a></p>
    <p><a href="/logout">Logout</a></p>
</body>
</html>