<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Seeker's Dashboard</title>
    <style>p, h2 {
        text-align: center;
        color: #2196F3;
        margin-bottom: 20px;
    }
    </style>
</head>
<body>
    <h2>Job Seeker's Dashboard</h2>
    <p><a href="/job_seeker_profile"><button type="button">Build Profile</button></a></p>
    <p><a href="/job_card"><button type="button">Check Jobs</button></a></p>
    <p><a href="/check_application_status"><button type="button">Check Application Status</button></a></p>
    <p><a href="/upload_resume"><button type="button">Upload Resume</button></a></p>
    <p><a href="/logout"><button type="button">Logout</button></a></p>
</body>
</html>