<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Posted Jobs</title>
    <style>table, th, td {border: 1px solid black;border-collapse: collapse;padding: 5px;}</style>
</head>
<body>
    <table>
        <caption><b>Manage Posted Jobs</b></caption>
        <tr>
            <th>Job Post Id</th>
            <th>Job Type</th>
            <th>Company</th>
            <th>Hide Company</th>
            <th>Created Date</th>
            <th>Job Description</th>
            <th>Location</th>
            <th>Status</th>
            <th>Salary</th>
            <th>Experience</th>
        </tr>
        <tr>
            <td>Job Post Id</td>
            <td>Job Type</td>
            <td>Company</td>
            <td>Hide Company</td>
            <td>Created Date</td>
            <td>Job Description</td>
            <td>Location</td>
            <td>Status</td>
            <td>Salary</td>
            <td>Experience</td>
        </tr>
        <tr>
            <td>Job Post Id</td>
            <td>Job Type</td>
            <td>Company</td>
            <td>Hide Company</td>
            <td>Created Date</td>
            <td>Job Description</td>
            <td>Location</td>
            <td>Status</td>
            <td>Salary</td>
            <td>Experience</td>
        </tr>
        
    </table>
</body>
</html>