<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/job_seeker_profile.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Skills</h2>
            <form action="/skills" method="POST">
                <div class="input-box">
                    <label for="skill-name">Select Skill:</label>
                    <select id="skill-name" name="skill-name" required>
                        <option value="">Select Skill</option>
                        <option value="Java">Java</option>
                        <option value="Python">Python</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="C++">C++</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="input-box">
                    <label for="skill-level">Skill Level:</label>
                    <select id="skill-level" name="skill-level" required>
                        <option value="">Select Level</option>
                        <option value=1>Beginner</option>
                        <option value=2>Intermediate</option>
                        <option value=3>Advanced</option>
                        <option value=4>Expert</option>
                    </select>
                </div>
                <div class="button-box">
                    <button type="button" class="add-skill-button">Add Skill</button>
                    <button type="submit" class="save-button">Save</button>
                    <a href="/experience_details">
                        <button type="button" class="next-button">Next</button>
                    </a>
                </div>
                <div id="added-skills"></div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/job_seeker_profile.js') }}"></script>
</body>
</html>